@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
	--main-color: #4d5769;
  --bg-color: #f0c2e7;
	--link-activated: #27282b;
	--gradient: linear-gradient(-45deg,#5d2ab1,#ddb0d4,#ffd7dd,#a4a0a7);
	--border-color: #a7839f; 
	--font: 'Amatic SC', sans-serif;
}
body {
	color: var(--main-color);
	font-family: var(--font);
  font-weight: 700;
}